	body{
		background: rgb(255,210,230);
		background: radial-gradient(circle, #ffd2e6 0%, #94bbe9 100%);
		font-family:Palatino;
	}
	
	.title{
		font-family:Palatino;
		
	}
	
	.projback{
		height: 100%;
	}
	
	.regularLink{
		color:#5B8DFB;
		font-size: 40px;
		text-align: center;
	}
	
	.activelink{
		color: #FFA500;
		font-size: 56px;
		text-align: center;
	}
	
	.nav{
		text-align:center;
		padding-top:25px;
		font-size: 36px;
	}
	
	.heading1{
		color:#5B8DFB;
		padding-top:15px;
		text-align:center;
		font-size: 42px;
	}
	
	.Mainbody{
		font-size: clamp(.5rem, 2.0vw, 1.5rem);
		line-height: 1.6;
		text-align: center
	}
	
	video, iframe {
		width: 100%;
		height: auto;
	  }

	.textspace{
		line-height: 1.6
	}
	
	.spacing{
		padding-top: 50px;
		padding-left: 50px;
	}
	
	.bottomBorder{
		border-bottom-style: solid;
		color:#707070
		}
	
	.topspacing{
		padding-top:25px;
		text-align: center !important;
	
	}
	
	.centter{
		text-align:center;
		line-height: 1.6;
	}
	
	.leftspacing{
		padding-left: 150px;
	
	}
	
	.centeredtext{
		text-align:center;
		padding-top: 30px;
		font-size:24px;
	}
	
	.hfeed site{
		text-align: center;
	}
	
	#masthead, #secondary, #colophon, .entry-meta, .widget-title, .post-edit-link, #wrapper-navbar, .entry-header{
		display:none;
	}
	
	h6{
		text-decoration: underline;
		text-align:center;
	}
	
	h4, p{
		color:black;
		text-align:center;
		font-size: clamp(.5rem, 2.0vw, 1.5rem);	}
	
	a:hover{
		text-decoration: none !important;
	}
	
	dt {
		font-weight: 700 !important;
		color: #D2FFEB;
		text-decoration: underline;
		padding: 1%;
		font-size: 24px;
	}

	dd{
		font-size: 24px;
	}
	
	img{
		border-radius:11px;
	}
	