	body{
		background: #0F0F0F;
		font-family:Montserrat;
		line-height: 1.6;
	}
	
	#gif-overlay {
		position: fixed; /* Make it stay in place */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
		scale: 300%;
		opacity: 7%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000; /* Ensure it's on top of everything */
	  }

	.link{
		color:#C252e1;
		font-size: clamp(1rem, 2.0vw, 2rem);
		font-family:Montserrat;
		text-align: center;
	}

	.nav{
		text-align:center;
		padding-top: 2.5%;
		font-size: clamp(.3rem, 3vw, 3.5rem);
	}
	
	.heading1{
		color: #6ecbf5;
		padding-top: 30px;
		text-align: center;
		font-size: clamp(.3rem, 2.7vw, 3.5rem);
	}
	
	.Mainbody{
		font-size: clamp(.5rem, 2.2vw, 1.75rem);
		line-height: 1.6;
		text-align: center;
	}

	video, iframe {
		width: 100%;
		height: auto;
	  }


	.spacing{
		padding-top: 30px;
	}
	
	.bottomBorder{
		border-bottom-style: solid;
		color:#C252e1;
		}
	
	.topspacing{
		padding-top:25px;
		text-align: center !important;
	
	}
	
	.centter{
		text-align:center;
		line-height: 1.6;
	}
	
	.leftspacing{
		padding-left: 5%;
	}
	
	.centeredtext{
		text-align:center;
		padding-top: 30px;
		font-size:24px;
	}
	
	.hfeed site{
		text-align: center;
	}
	
	#masthead, #secondary, #colophon, .entry-meta, .widget-title, .post-edit-link, #wrapper-navbar, .entry-header{
		display:none;
	}
	
	h6{
		text-align:center;
		font-size: clamp(.5rem, 6vw, 2rem);
		color: #6ecbf5;
	}
	
	h2{
		color:#C252e1;
		font-size: clamp(.5rem, 6vw, 2rem);
	}

	h4, p{
		color:#26B55B;
		text-align:center;
		font-size: clamp(.5rem, 3.8vw, 1.5rem);	}
	
	a:hover{
		text-decoration: none !important;
	}
	
	dt {
		font-weight: 700 !important;
		color: #586ae2;
		text-decoration: underline;
		padding: 1%;
		font-size: clamp(.5rem, 6vw, 2rem);
	}

	dd{
		font-size: clamp(.5rem, 6vw, 2rem);
		color:#6ecbf5
	}
	
	img{
		border-radius:11px;

	}

	img:hover, video:hover {
		transform: scale(1.10);
	}

	#cycling-text {
		text-align: center;
		opacity: 1;
		animation: fadeInOut 2s infinite;
	}

	@keyframes fadeInOut {
		0%, 100% { opacity: 0; }
		25%, 75% { opacity: 1; }
	}

	.fade-in {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
	  }
	  
	  .fade-in.visible {
		opacity: 1;
		transform: translateY(0);
	  }